<!DOCTYPE html>
<html lang="en">

<head>
<title>Sistema de encuestas</title>
<link rel="stylesheet" href="/static/css/principal.css">
</head>

<body>
  <div id="agrupar">
    <header id = "cabecera">
      <h1>ENCUESTAS PETRA</h1>
    </header>

    <nav id="menu">
      <h4><a id="boton_link" href="{{ url_for('nueva_encuesta') }}">Agregar nueva encuesta</a></h4>
    </nav>

  <section id="seccion">
      {% for i in encuesta %}
    <form action="http://127.0.0.1:5000/conteo/" method="post">
      <input type='hidden' name='id' value='{{i.id}}'>
        <article id="articulo">
            <h2>{{i.pregunta}}</h2>
            {% if i.voto1 == 0 and i.voto2 == 0 %}
              <p>
                <input type="checkbox" name="opc" value="a">
                {{i.opcion1}}  {{i.voto1}}%
              </p>

              <p>
                <input type="checkbox" name="opc" value="b">
                {{i.opcion2}}  {{i.voto2}}%

              </p>

            {% else %}
              <p>
                <input type="checkbox" name="opc" value="a">
                {{i.opcion1}} <meter value="{{i.voto1}}" max="{{i.cantidad}}"></meter>
                {{(i.voto1 / i.cantidad * 100)|int}}%
              </p>

              <p>
                <input type="checkbox" name="opc" value="b">
                {{i.opcion2}} <meter value="{{i.voto2}}" max="{{i.cantidad}}"></meter>
               {{(i.voto2 / i.cantidad * 100)|int}}%
             </p>

            {% endif %}
            <p>Total de Votos  {{i.cantidad}}</p>

            <input type ='submit'  value="Votar">
        </article>

    </form>
    {% endfor %}
  </section>

  <aside id="lado">

  </aside>

  <footer id="pie">
    <small> Derechos reservados &copy; 2019-2020 </small>
  </footer>

  </div>
</body>
</html>
